apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vmshift-production
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: https://github.com/ilearn-code/vmshift.git
    targetRevision: main
    path: helm/vmshift
    helm:
      valueFiles:
        - values-prod.yaml
  
  destination:
    server: https://kubernetes.default.svc
    namespace: vmshift-production
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=false
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
